<img src="/assets/slider1.jpg"> <!-- random image -->
<div class="caption center-align">

	<div class="row px-32">
		<div class="col s12">
			<h1>Work Today?</h1>
		</div>
		<div class="col s6">
			<div class="card-panel red no-cp"
					 (click)='noSelected()'>
				<h2 class="grey-text text-darken-4">No</h2>
			</div>
		</div>
		<div class="col s6">
			<div class="card-panel green yes-cp"
					 (click)='yesSelected()'>
				<h2 class="grey-text text-darken-4">Yes</h2>
			</div>
		</div>
	</div>
</div>
