<img src="/assets/slider3.jpg"> <!-- random image -->
<div class="caption center-align">

	<div class="row mx-32 dark-bg">
		<div class="col s12">
			<h1>Most important thing to me Today</h1>
		</div>
    <form class="col s12">
      <div class="row px-32">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea grey-text text-lighten-4 flow-text"></textarea>
          <label for="textarea1">Textarea</label>
        </div>
      </div>
    </form>
	</div>
	<div class="row mx-32">
    <div class="col s6 offset-s6">
    	<a class="btn btn-large right green" 
    		 style="padding-right: 4em;padding-left: 4em;" 
    		 (click)='nextSlider()'>
    		Next
    	</a>
    </div>
	</div>
</div>
