<img src="/assets/slider4.jpg"> <!-- random image -->
<div class="caption center-align">

	<div class="row mx-32 dark-bg">
		<div class="col s12">
			<h1>These people impacted me today</h1>
		</div>
    <form class="col s12">
      <div class="row px-32">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea grey-text text-lighten-4 flow-text"></textarea>
          <label for="textarea1">Textarea</label>
        </div>
      </div>
    </form>
	</div>
</div>
